.app {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tool-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.category {
  margin-bottom: 30px;
}

.tool-block {
  display: flex;
  border: 1px solid #fff;
  padding: 10px;
  background-color: #f9f9f9;
  flex-direction: column;
}
.super-tool-block {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  flex-direction: row;
  justify-content: space-between;
}

.tool-block a {
  text-decoration: none;
  color: #333;
}

.tool-block a:hover {
  text-decoration: underline;
}

.category-tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  margin-top: 8px;
  margin-right: 8px;
}

.votes-tag {
  margin-top: 1%;
  margin-right: 7%;
}